@page "/exporttoexcel"
<PageTitle>ExportToExcel</PageTitle>
@using MudBlazor

<h3>ExportToExcel</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(()=>ExportAllCardsAsync())">
    Export all cards on a single sheet
</MudButton>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(()=>ExportCardsPerSetAsync())">
    Export cards per set
</MudButton>
