@page "/"

@using Leng.Application.Services;
@using Leng.Infrastructure;
@using Microsoft.EntityFrameworkCore;
@using MudBlazor
@using Leng.Domain.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMTGDbService DbService


<PageTitle>Index</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<UserClaims/>
<MudText Class="mb-8">Welcome to your new Library of Leng, powered by MudBlazor!</MudText>
<MudAlert Severity="Severity.Normal">You can find documentation and examples on our website here: <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>

<h3>Your collection summary</h3>

@if (summary == null)
{
    <p>Loading...</p>
}
else
{
    <p>You have @summary?.cards cards <del>and @summary?.playsets playsets</del> in your collection.</p>
}


@code {
    private (int cards, int playsets)? summary;
    private LengUser _lengUser;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var msalId = LengAuthenticationService.getMsalId(authState);
        _lengUser = await DbService.GetLengUserAsync(msalId);

        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            summary = await DbService.GetUserCollectionSummaryAsync(_lengUser);
        }
    }
}