@page "/quickdeckcheck"
<PageTitle>QuickDeckCheck</PageTitle>
@using MudBlazor


<h3>QuickDeckCheck</h3>

<MudTextField T="string" Label="Deck List" Variant="Variant.Outlined" Multiline="true" DebounceInterval="300"
              ValueChanged="HandleDeckListChange" Lines="30"/>

<MudTextField T="string" Label="Deck List" Variant="Variant.Outlined" Multiline="true" Disabled="true"
              @bind-Value="@_resultList" Lines="30" />

