on: [push]
name: Azure ARM
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      # Checkout code
    - uses: actions/checkout@main

      # Log into Azure
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Deploy Bicep file
    - name: deploy
      uses: azure/arm-deploy@v1
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ secrets.AZURE_RG }}
        template: ./infra-as-code/bicep/leng.bicep
        parameters: >
          {
            "databaseAdminLogin": {
              "value": "${{ secrets.BICEP_DATABASE_ADMIN }}"
            },
            "databaseAdminPassword": {
              "value": "${{ Uri.EscapeDataString(secrets.BICEP_DATABASE_ADMIN_PASSWORD) }}"
            }
          }
        failOnStdErr: false
